<h1>Listing dogs</h1>

<table>
  <thead>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @dogs.each do |dog| %>
      <tr>
        <td><%= image_tag dog.photo.thumb('100x100#').url if dog.photo %></td>
        <td><%= dog.name %></td>
        <td><%= dog.age %></td>
        <td><%#= dog.photo_name %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
